body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: blanchedalmond;
}

.background__img {
  width: 100vh;
  height: 100vh;
}

.ball {
  position: fixed;
  display: grid;
  width: 100vh;
  height: 100vh;
}

.level__one {
  position: fixed;
  display: flex;
  width: 100vh;
  height: 100vh;
  z-index: 100;
  background-color: red;
  border-radius: 100%;

  &.active {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
  }
}

.level__two__group {
  position: fixed;
  display: grid;
  width: 100vh;
  height: 100vh;
  z-index: 99;
  grid-template-columns: 50% 50%;
  border-radius: 100%;
}

.level__two {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: blue;
  border-radius: 100%;

  &.active {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
  }
}

// .level__three {
//   display: grid;
//   width: 100%;
//   height: 100%;
//   background-color: blue;
//   grid-template-columns: 50% 50%;
//   border-radius: 100%;
// }

// .level__four {
//   display: grid;
//   width: 100%;
//   height: 100%;
//   background-color:saddlebrown;
//   grid-template-columns: 50% 50%;
//   border-radius: 100%;
// }