body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: blanchedalmond;
}

.background__img {
  width: 100vh;
  height: 100vh;
}

.ball {
  position: fixed;
  width: 100vh;
  height: 100vh;
}

.level__one {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: blanchedalmond;
  grid-template-columns: 50% 50%;
  border-radius: 100%;
}

.level__two {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: red;
  grid-template-columns: 50% 50%;
  border-radius: 100%;
}

.level__three {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: blue;
  grid-template-columns: 50% 50%;
  border-radius: 100%;
}

.level__four {
  display: grid;
  width: 100%;
  height: 100%;
  background-color:saddlebrown;
  grid-template-columns: 50% 50%;
  border-radius: 100%;
}